body{

margin:0;

font-family:Arial;

background:#EB0A1E;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.container{

background:white;

color:#222;

padding:50px;

border-radius:20px;

text-align:center;

width:500px;

box-shadow:0 10px 40px rgba(0,0,0,.3);

}

.logo{

width:180px;

margin-bottom:20px;

}

input{

width:80%;

padding:15px;

font-size:18px;

border-radius:10px;

border:1px solid #CCC;

}

button{

background:#EB0A1E;

color:white;

padding:15px 40px;

font-size:20px;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#b60018;

}